server {
     listen ${FRONTEND_INTERNAL_PORT};
    server_name _;

    client_max_body_size 50m;

    location ${APP_BASE_PATH}/api/ {
        proxy_pass ${BACKEND_UPSTREAM}/api/;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_cache off;
    }

    location = ${APP_BASE_PATH}/healthz {
        proxy_pass ${BACKEND_UPSTREAM}/healthz;
    }
    
    location ${APP_BASE_PATH}/ {
        root /usr/share/nginx/html;
        try_files $uri $uri/ ${APP_BASE_PATH}/index.html;
    }

    location = ${APP_BASE_PATH} {
        return 301 ${APP_BASE_PATH}/;
    }
}